@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lobster&family=Manrope&family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lobster', cursive;
  font-family: 'Manrope', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin-inline: auto;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/* Header */
header {
  height: 100vh;
  background: url(../images/donation7.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
}

.header-content {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-content h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  color: #ffffff;
  text-align: center;
}

.header-content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  padding: 1rem 3rem 2.5rem;
  /* width: 75%;
  margin-inline: auto; */
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #ff5959;
  border-radius: 8px;
  padding: 14px 1rem;
  transition: 0.35s ease;
  border: 0;
  outline: 0;
}

.btn:hover {
  transform: translateY(-8px);
}

/* Donate Today */
.donate-today-container {
  padding: 6rem 10rem;
}

.donate-amount-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.amount {
  background: #fafafa;
  padding: 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.amount.active {
  background: #ffeeee;
  border: 2px solid #ff5959;
}

.amount h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #707070;
}

.amount.active h3 {
  color: #ff5959;
}

.amount:hover {
  transform: scale(1.05);
}

.donate-today-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 4.5rem 3rem 0;
}

.donate-today-container form input[type='text'] {
  border: none;
  outline: none;
  border-bottom: 1.5px solid #dadada;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #b3b3b3;
  padding: 10px 0;
}

.donate-today-container form input[type='button'] {
  align-self: center;
  cursor: pointer;
}

/* Our Donate Plan */
.donate-plan-container {
  padding: 6rem 0;
}

.donate-text,
.update-text,
.activity-text,
.membership-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-text h2,
.update-text h2,
.activity-text h2,
.membership-text h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}

.donate-text p,
.update-text p,
.activity-text p,
.membership-text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #707070;
  padding: 1.3rem 0 3.5rem;
  width: 60%;
  margin-inline: auto;
}

.donate-plan-category {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.category {
  flex: 1;
  padding: 3rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.category img {
  max-width: 100%;
  width: 55px;
  height: 55px;
  border-radius: 5px;
}

.category h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #121212;
  padding: 1.2rem 0;
}

.category p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.category .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0;
  color: #ff5959;
  transition: 0.3s ease;
}

.read-more i {
  font-size: 16px;
  padding-left: 5px;
  margin-top: 2px;
  transition: 0.3s ease;
}

.read-more:hover i {
  transform: translateX(5px);
}

.category-1 {
  background: rgba(79, 157, 166, 0.1);
}

.category-2 {
  background: rgba(255, 89, 89, 0.1);
}

.category-3 {
  background: #fff4d6;
}

.category:hover {
  transform: scale(1.05);
}

/* Our Recent Activity */
.activity-gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.1rem;
}

.activity-card {
  position: relative;
  height: 300px;
  cursor: pointer;
}

.activity-card img {
  max-width: 100%;
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.activity-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.7s ease;
}

.activity-card:hover .overlay {
  transform: scale(1);
}

.overlay .text {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* How to Contribute */
.contribute-container {
  padding: 8rem 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contribute-content h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}

.contribute-content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #707070;
  padding: 1rem 0 0;
  width: 70%;
}

.contribute-content .mt {
  margin: 1.5rem 0;
}

.contribute-img img {
  max-width: 100%;
  width: 850px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.35s ease;
}

.contribute-img:hover img {
  transform: scale(1.1);
}

/* Get My Updates */
.update-section-container {
  padding: 4rem 0 6rem;
}

.update-section-container .form-container {
  width: 70%;
  margin-inline: auto;
  background: #fff4d6;
  padding: 4rem 4rem;
  border-radius: 8px;
}

.update-section-container .form-container form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form input[type='email'] {
  border: 0;
  outline: 0;
  background: #d9d9d9;
  border-radius: 5px 0px 0px 5px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #aa9f9f;
}

.form-container form button {
  border: 0;
  outline: 0;
  background: #ff5959;
  border-radius: 0px 5px 5px 0px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

/*  Lifetime and Donor Memberships */
.membership-section-container {
  padding: 5rem 2rem 5rem;
}
.membership-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 920px;
  overflow: hidden;
}

.membership-content,
.donation-img {
  flex: 1;
  height: 750px;
  overflow: hidden;
}

.membership-content {
  width: 800px;
  padding: 3rem 3.5rem;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.membership-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.membership-content .text h2 {
  font-size: 24px;
  font-weight: 500;
  padding: 1rem 0;
}

.membership-content .text p {
  font-size: 15px;
  padding-bottom: 1rem;
}

.membership-content .contact-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  padding: 1rem 3rem 3rem 0;
}

.contact-info h5 {
  color: #dadada;
  padding-bottom: 10px;
}

.contact-info p {
  font-size: 15px;
}

.address,
.email,
.phone {
  flex: 1;
}

.membership-content form input[type='text'],
.membership-content form input[type='email'] {
  display: block;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 12px 0;
  margin: 8px 0;
  border-bottom: 1px solid #dadada;
  font-size: 16px;
  font-weight: 500;
}

.membership-content form input[type='text']:focus,
.membership-content form input[type='email']:focus {
  border-bottom: 1.7px solid #dadada;
}

.membership-content form input[type='submit'] {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: #ff5959;
  border-radius: 8px;
  padding: 12px 1.7rem;
  margin-top: 12px;
  transition: 0.35s ease;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.membership-content form input[type='submit']:hover {
  transform: translateY(-5px);
}

.membership-content .social-media {
  padding: 4rem 0 2rem;
}

.membership-content .social-media h3 {
  font-weight: 500;
  font-weight: 18px;
  padding-bottom: 1.7rem;
}

.social-media .links a {
  display: inline-block;
  margin-right: 20px;
  color: #dadada;
  padding-bottom: 10px;
}

.social-media .links a:hover {
  color: #70768a;
}

.donation-img img {
  max-width: 100%;
  width: 800px;
  height: 750px;
  object-fit: cover;
  border: 0;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.donation-img:hover img {
  transform: scale(1.005);
}

/* Footer */
footer {
  padding: 2.5rem;
  background: #0b0d17;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h3 {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.5px;
  color: #ff5959;
}

footer p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #d9dbe1;
}
